name: build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: build solution (mono-compatible)
        run: dotnet build MoonsecDeobfuscator.sln -c Release /p:UseAppHost=false

      - name: upload mono-compatible exe
        uses: actions/upload-artifact@v4
        with:
          name: moonsecdeobfuscator
          path: src/bin/Release/**/MoonsecDeobfuscator.exe
