name: deobfuscate

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: run deobfuscator
        run: |
          MoonsecDeobfuscator.exe input.lua output.lua

      - name: upload result
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: output.lua
 
